/*
    Colors for site
{
  #586123
  
  #ca6c37
  
  #9a5b28
  }
*/

body {
color: #252525;
  background-color: #dbd7c7;
  text-align: center;
  font-family: papyrus;
}

nav{
  display: flex;
  justify-content: space-evenly;
  background: #f9f9f9;
}

a{
  color: #252525;
  text-decoration: none;
}

.dropDown {
  padding: 12px 0px;
  position: relative;
  cursor: pointer;
}

.dropDown > a{
  padding: 0px 30px;
  gap: 2px;
}

.dropDown:hover .menu{
  opacity: 1;
  visibility: visible;
}

.menu{
  position: absolute;
  top: 44px;
  display: grid;
  background: #ffffff;
  opacity: 0;
  visibility: hidden;
  transition: .25s;
}

.menu > a {
  font-size: 14px;
  padding: 12px 20px;
}

.menu > a:hover, .dropDown:hover{
  color: #ffffff;
  background: #989898;
}

.section-divider{
  display: block;
  height: 1px;
  margin: 0;
  border: none;
  background-color: #252525;
  width: 85%;
  margin: auto;
}

